[SddmGreeterTheme]
Name=Win8login
Description=Win8 like lockscreen
Author=Bharat kumar
Copyright=(c) 2025, Bharat kumar
License=CC-BY-SA
Type=sddm-theme
Version=0.2
Website=https://github.com/sddm/sddm
Screenshot=preview.png
MainScript=main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=bharatupsccse@gmail.com
Theme-Id=Win8Login
Theme-API=2.0
QtVersion=6
